/.idea/.gitignore
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.out
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-069edfdc7d60d6ff7057.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-407bb8ec2f42395d8c66.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-1ab20cb79e116fbacfdf.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-17T08-24-30-0608.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/platformGame.iml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-platformGame-Debug-74f1af51c486693e91d2.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
/.idea/vcs.xml
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/platformGame.dir/Button.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2f0f6b9b90a58468282d.json
/cmake-build-debug/CMakeFiles/platformGame.dir/Game.cpp.o
/cmake-build-debug/CMakeFiles/platformGame.dir/GameState.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-17T12-55-10-0148.json
/cmake-build-debug/CMakeFiles/platformGame.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/platformGame.dir/MainMenuState.cpp.o
/cmake-build-debug/CMakeFiles/platformGame.dir/PauseMenu.cpp.o
/cmake-build-debug/platformGame
/cmake-build-debug/CMakeFiles/platformGame.dir/State.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-platformGame-Debug-0fa5feaf97ed03e6beb3.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-6123c0a882693a257105.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-20T21-47-52-0085.json
/cmake-build-debug/CMakeFiles/platformGame.dir/SettingsState.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-platformGame-Debug-73d27d375de50d1811b2.json
/cmake-build-debug/CMakeFiles/platformGame.dir/TextField.cpp.o
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/platformGame3.dir/Button.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-db2ff1f11ac274031d54.json
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9467e1370cac4470f6b4.json
/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c36c7aa1da340177727e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/CMakeFiles/platformGame3.dir/Game.cpp.obj
/cmake-build-debug/CMakeFiles/platformGame3.dir/GameCharacter.cpp.obj
/cmake-build-debug/CMakeFiles/platformGame3.dir/GameState.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-25T17-12-58-0162.json
/cmake-build-debug/CMakeFiles/platformGame3.dir/LevelTile.cpp.obj
/cmake-build-debug/CMakeFiles/platformGame3.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/platformGame3.dir/MainMenuState.cpp.obj
/cmake-build-debug/CMakeFiles/platformGame3.dir/PauseMenu.cpp.obj
/cmake-build-debug/platformGame.exe
/cmake-build-debug/platformGame3.exe
/cmake-build-debug/CMakeFiles/platformGame3.dir/SettingsState.cpp.obj
/cmake-build-debug/CMakeFiles/platformGame3.dir/State.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/target-platformGame3-Debug-5b0a76a33ec3059a9ae9.json
/cmake-build-debug/CMakeFiles/platformGame3.dir/TextField.cpp.obj
/cmake-build-debug/CMakeFiles/platformGame3.dir/TileMap.cpp.obj
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-831aa37f75698408c49d.json
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/core.dir/build.make
/cmake-build-debug/CMakeFiles/platformGame.dir/build.make
/cmake-build-debug/CMakeFiles/platformGametest.dir/build.make
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/build.make
/cmake-build-debug/test/CMakeFiles/test.dir/build.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/build.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/build.make
/cmake-build-debug/CMakeFiles/core.dir/Button.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/platformGame.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/platformGametest.dir/cmake_clean.cmake
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/cmake_clean.cmake
/cmake-build-debug/test/CMakeFiles/test.dir/cmake_clean.cmake
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/core.dir/cmake_clean_target.cmake
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
/cmake-build-debug/test/lib/googletest/cmake_install.cmake
/cmake-build-debug/test/cmake_install.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/test/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/test/lib/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/core.dir/CXX.includecache
/cmake-build-debug/CMakeFiles/platformGametest.dir/CXX.includecache
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/CXX.includecache
/cmake-build-debug/test/CMakeFiles/test.dir/CXX.includecache
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/CXX.includecache
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/CXX.includecache
/cmake-build-debug/CMakeFiles/core.dir/depend.internal
/cmake-build-debug/CMakeFiles/platformGametest.dir/depend.internal
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/depend.internal
/cmake-build-debug/test/CMakeFiles/test.dir/depend.internal
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/depend.internal
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/depend.internal
/cmake-build-debug/CMakeFiles/core.dir/depend.make
/cmake-build-debug/CMakeFiles/platformGame.dir/depend.make
/cmake-build-debug/CMakeFiles/platformGametest.dir/depend.make
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/depend.make
/cmake-build-debug/test/CMakeFiles/test.dir/depend.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/depend.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/depend.make
/cmake-build-debug/CMakeFiles/core.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/platformGame.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/platformGametest.dir/DependInfo.cmake
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/DependInfo.cmake
/cmake-build-debug/test/CMakeFiles/test.dir/DependInfo.cmake
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/core.dir/flags.make
/cmake-build-debug/CMakeFiles/platformGame.dir/flags.make
/cmake-build-debug/CMakeFiles/platformGametest.dir/flags.make
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/flags.make
/cmake-build-debug/test/CMakeFiles/test.dir/flags.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/flags.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/flags.make
/cmake-build-debug/CMakeFiles/core.dir/FlyingMovement.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/Game.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/GameCharacter.cpp.obj
/test/Gamecharactertest.cpp
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/Gamecharactertest.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/GameState.cpp.obj
/cmake-build-debug/test/lib/googletest/gtest.cbp
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/src/gtest-all.cc.obj
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/src/gtest_main.cc.obj
/cmake-build-debug/CMakeFiles/core.dir/includes_CXX.rsp
/cmake-build-debug/CMakeFiles/platformGame.dir/includes_CXX.rsp
/cmake-build-debug/CMakeFiles/platformGametest.dir/includes_CXX.rsp
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/includes_CXX.rsp
/cmake-build-debug/test/CMakeFiles/test.dir/includes_CXX.rsp
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/includes_CXX.rsp
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/includes_CXX.rsp
/cmake-build-debug/CMakeFiles/core.dir/LevelTile.cpp.obj
/cmake-build-debug/libcore.a
/cmake-build-debug/lib/libgtest.a
/cmake-build-debug/lib/libgtest_main.a
/cmake-build-debug/CMakeFiles/core.dir/link.txt
/cmake-build-debug/CMakeFiles/platformGame.dir/link.txt
/cmake-build-debug/CMakeFiles/platformGametest.dir/link.txt
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/link.txt
/cmake-build-debug/test/CMakeFiles/test.dir/link.txt
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/link.txt
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/link.txt
/cmake-build-debug/CMakeFiles/platformGame.dir/linklibs.rsp
/cmake-build-debug/CMakeFiles/platformGametest.dir/linklibs.rsp
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/linklibs.rsp
/cmake-build-debug/test/CMakeFiles/test.dir/linklibs.rsp
/cmake-build-debug/CMakeFiles/core.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/platformGametest.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/MainMenuState.cpp.obj
/cmake-build-debug/test/lib/googletest/Makefile
/cmake-build-debug/test/Makefile
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/test/Maptest.cpp
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/Maptest.cpp.obj
/cmake-build-debug/test/CMakeFiles/test.dir/Maptests.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/Movement.cpp.obj
/cmake-build-debug/CMakeFiles/platformGametest.dir/objects.a
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/objects.a
/cmake-build-debug/test/CMakeFiles/test.dir/objects.a
/cmake-build-debug/CMakeFiles/platformGame.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/platformGametest.dir/objects1.rsp
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/objects1.rsp
/cmake-build-debug/test/CMakeFiles/test.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/core.dir/PauseMenu.cpp.obj
/cmake-build-debug/platformGame.cbp
/cmake-build-debug/platformGametest.cbp
/cmake-build-debug/platformGametest.exe
/.idea/platformGametest.iml
/cmake-build-debug/CMakeFiles/core.dir/progress.make
/cmake-build-debug/CMakeFiles/platformGame.dir/progress.make
/cmake-build-debug/CMakeFiles/platformGametest.dir/progress.make
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/progress.make
/cmake-build-debug/test/CMakeFiles/test.dir/progress.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest.dir/progress.make
/cmake-build-debug/test/lib/googletest/CMakeFiles/gtest_main.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/test/CMakeFiles/progress.marks
/cmake-build-debug/test/lib/googletest/CMakeFiles/progress.marks
/test/RunallTests.cpp
/cmake-build-debug/test/CMakeFiles/RunallTests.dir/RunallTests.cpp.obj
/cmake-build-debug/test/CMakeFiles/test.dir/RunallTests.cpp.obj
/cmake-build-debug/test/RunallTests.exe
/cmake-build-debug/CMakeFiles/core.dir/SettingsState.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/State.cpp.obj
/cmake-build-debug/test/test.cbp
/cmake-build-debug/CMakeFiles/core.dir/TextField.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/TileMap.cpp.obj
/cmake-build-debug/CMakeFiles/core.dir/WalkingMovement.cpp.obj
