/.idea/.gitignore
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.out
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-069edfdc7d60d6ff7057.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-407bb8ec2f42395d8c66.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-1ab20cb79e116fbacfdf.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-17T08-24-30-0608.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/platformGame.iml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-platformGame-Debug-74f1af51c486693e91d2.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
/.idea/vcs.xml
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/platformGame.dir/Button.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2f0f6b9b90a58468282d.json
/cmake-build-debug/CMakeFiles/platformGame.dir/Game.cpp.o
/cmake-build-debug/CMakeFiles/platformGame.dir/GameState.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-17T12-55-10-0148.json
/cmake-build-debug/CMakeFiles/platformGame.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/platformGame.dir/MainMenuState.cpp.o
/cmake-build-debug/CMakeFiles/platformGame.dir/PauseMenu.cpp.o
/cmake-build-debug/platformGame
/cmake-build-debug/CMakeFiles/platformGame.dir/State.cpp.o
/cmake-build-debug/.cmake/api/v1/reply/target-platformGame-Debug-0fa5feaf97ed03e6beb3.json
